{% extends 'layout/master.html.twig' %}

{% block body %}
<div class="row no-gutters border flex-md-row mb-4 shadow-sm bg-white featured-border">
    <div class="article-detail col-sm-12">
        <div class="col-sm-12 p-2">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
